.info {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.tabela, .tabela td, .tabela th {
    border: 1px solid black;
    padding: 4px;
}

.tabela tr:first-child {
    background-color: cadetblue;
}

a {
    margin-right: 10px;
}